<h1 class="oswald grabber">
	So long, ClassTalk.
</h1>
<div id="signup_form_wrap">

    <p class="title">After a year of helping teachers communicate with their classes, ClassTalk will be shutting down on 7/1/2012.</p>
    <p class="leading">ClassTalk was a 2011 Code for America fellowship project. For over six months since the end of the fellowship, the original architects of ClassTalk have been searching for a new owner for the application. Unfortunately, we have not found one.<br><br>The project is open source and <a href="http://www.github.com/codeforamerica/classtalk" target="_blank">hosted on Github</a>. If you or someone you know is interested in maintaining the project, please <a href="mailto:scott@codeforamerica.org">get in touch</a>. You will be able to <%= link_to "sign in to your exisiting ClassTalk account", new_user_session_path %> until 7/1/2012. After that point you will not be able to login to your ClassTalk account.</p>

</div>